<section class="text-gray-400 bg-gray-700 body-font h-screen">
    <div class="container px-5 py-16 mx-auto">
        <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <p class="leading-relaxed text-lg">Welcome to Check Da'Weather, your trusted companion for quick and easy
                weather updates. At Check Da'Weather, we've crafted a user-friendly platform that puts the power of
                accurate forecasting at your fingertips. Our team of dedicated meteorologists is on a mission to
                simplify your weather-checking experience, providing you with the information you need to navigate your day seamlessly.
                <br class="hidden lg:inline-block">
                Check Da'Weather is designed for simplicity without compromising accuracy. Whether you're planning your day, a weekend adventure, or a special event, we're here to make sure you're prepared for whatever comes your way. Embrace the convenience of staying informed with Check Da'Weather, where the forecast is as straightforward as the name suggests. Your weather, your way - because checking the weather should be as easy as saying, 'Check Da'Weather!
            </p>
            <span class="inline-block h-1 w-10 rounded bg-pink-400 mt-8 mb-6"></span>
            <h2 class="text-white font-medium title-font tracking-wider text-sm">Chris Dev</h2>
            <p class="text-gray-500">Product Designer & Developer</p>
        </div>
    </div>
</section>